body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float:left;
}

#searchbar input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-6 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-5{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/Assets/nanjing_.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("/Assets/nanjing_1.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3{
    background-image: url("/Assets/hang_glider.jpg");
    min-height: 400px;
}

.bgimg-4{
    background-image: url("/Assets/sandiego.jpg");
    min-height: 400px;
}

.bgimg-5{
    background-image: url("/Assets/angicart.png");
    min-height: 400px;
}

.bgimg-6{
    background-image: url("/Assets/balloon.jpg");
    min-height: 400px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
    overflow: hidden;
	position: absolute;
	z-index: -1;
}


.preload {
    width:100%;
    height: 100%;
    background:black;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1; 
}

.logo {
    width:300px;
    height:70px;
    margin: 150px auto 50px auto;
    font-size: 50px;
    text-shadow: -1px 2px 2px #000;
    text-align:center;
}

.loader-frame{
    width:70px;
    height: 70px;
    margin: auto;
    position: relative;
}

.loader1, .loader2{
    position: absolute;
    border: 5px solid transparent;
    border-radius:50%;
}

.loader1{
    width:70px;
    height:70px;
    border-top:5px solid white;
    border-bottom:5px solid white;
    animation: clockwisespin 2s linear 3;
}

.loader2{
    width:60px;
    height:60px;
    border-left:5px solid white;
    border-right:5px solid white;
    top:5px; left:5px;
    animation: anticlockwisespin 2s linear 3;
}

@keyframes clockwisespin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
}

@keyframes anticlockwisespin {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg)}
}

@keyframes fadeout{
    from{opacity: 1;}
    to {opacity:0;}
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}



